@font-face {
  font-family: "VCR";
  src: local("VCROSDMono"), url("/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

@font-face {
  font-family: "LAZER";
  src: local("Lazer"), url("/fonts/basicLAZER.otf") format("opentype");
}

@font-face {
  font-family: "RetroSignature";
  src: local("RetroSignature"), url("/fonts/retro-signature-font/RetroSignature-2ODoK.otf") format("opentype");
}

body {
  font-family: "VCR";
}

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('/assets/background.jpg');
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), white;
}

.bannerImg {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('/assets/OliverS_retro_80s_shoes_with_black_background_13dbaeb2-d8b4-4079-b678-4260e3961030.png');
  background-color: white;
  /* min-width: 50%; */
  min-height: 33.333333vw;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  /* border-radius: 50%; */
}

@media screen and (max-width: 768px) {
  .bannerImg {
    min-height: 100vw;
    min-width: 100%;
  }
}